*
{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}
.card1
{
    width: 100%;
    height: 630px;
    object-fit: cover;
    border: 2px solid #d7e3fc;
    border-radius: 0px 0px 30px 30px;
}
img
{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.img:hover
h3
{
    font-size: 10px;
    color: #52796f;
}
.title
{
    height: 90px;
}
.p1
{
    margin-left: 10px;
    margin-right: 10px;
    color: #001427;
    min-height: 25px;
    max-height: 25px;
    overflow: scroll;
}
.p2
{
    color: #277da1;
}
.i1,.i2,.i3,.i4
{
    height: 25px;
    width: 30px;
    background-color: #38b000;
    color: aliceblue;
}
.s1
{
    justify-content: space-evenly;
    margin: 0px 130px;
}
